.DS_Store
.Rbuildignore
.Rhistory
!*.R
!*.Rproj
!.gitignore
generate_sample_data.R
example_test.R
barcode_data.R
.Rproj.user

R/fix_tree.R

*.gif

rescaled_after_thresh.png

barcode_rescaled_frequencies.png

barcode_true_frequencies.png

irregular_timepoints.png

R/Tdata.csv
